<!DOCTYPE html>
<html lang="en">
    <head>
        <!--- Basic Webpage needs
        ================================================== -->
        <meta charset="utf-8"/>
        <meta name="description" content="UBlock.me"/>
        <meta name="keywords" content="UBlock.me, unlock, articles, websites"/>
        <!--- Mobile needs
        ================================================== -->    
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <!--- Stylesheet
        ================================================== -->
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}"/>
       <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--- Scripts
        ================================================== -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.8.2/css/all.css"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
       <!--- Favicon Image
        ================================================== -->
       <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png')}}">
       <title>UBlock.me</title>
    </head>
    <header>
	<div class="toggle-theme-container">
            <div class="toggle-theme" onclick="toggleTheme()"></div>
        </div>
    </header>
    <body>
	    <header>
        	<h1>UnBlock.me</h1>
        	<div class="toggle-theme-container">
            		<div class="toggle-theme" onclick="toggleTheme()"></div>
        	</div>
    	    </header>
        <!-- Parent -->
        <div class="container">
	    <p>Read an article without having to give away a cookie 🍪...</p>
	    <div class=fork-me>
	    	<a href="https://github.com/codingeologist/GetURLText-" target="_blank noreferrer nofollow"><i class="fa fa-github"></i> Fork Me</a>
	    </div>
	    <br>
            <!-- Form -->
            <form class="search" method="POST">
                <input type="text" class="flink" name="flink" placeholder="article URL..."><br>
                <input type="submit" value="UnBlock Article!">
            </form>
	    <br>
	    <button type="button" class="collapsible">{{ text1 }} 🔽</button>
	    <div class="content">{{ text2 | safe }}</div>
        </div>
    </body>
    <footer>
        <a href="https://codingeologist.github.io" target="_blank noreferrer nofollow">© codingeologist</a>
    </footer>
    <!--- Scripts
    ================================================== -->
    <script type="text/javascript" src="static/js/index.js"></script>
</html>
