<!DOCTYPE html>
<html lang="en">
    <head>
        <!--- Basic Webpage needs
        ================================================== -->
        <meta charset="utf-8"/>
        <meta name="description" content="UBlock.me"/>
        <meta name="keywords" content="UBlock.me, unlock, articles, websites"/>
        <!--- Mobile needs
        ================================================== -->    
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <!--- Stylesheet
        ================================================== -->
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}"/>
       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono"/>
        <!--- Scripts
        ================================================== -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.8.2/css/all.css"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
       <!--- Favicon Image
        ================================================== -->
       <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png')}}">
       <title>UBlock.me</title>
    </head>
    <body>
        <!-- Parent -->
        <div id="parent">
            <!-- Form -->
            <form id="search" method="POST">
                <input type="text" id="flink" name="flink" placeholder="article URL..."><br>
                <input type="submit" value="UnBlock Article!">
            </form>             
            <div id="textBody">
                {{ text1 }}
            </div>
        </div>
    </body>
</html>