body {
    margin: 0 auto;
    padding: 0;
    background: rgb(0, 0, 0);
  }
  
  #parent {
    position: relative;
    margin: 0 auto;
    height: 100vh;
    margin-bottom: 30%;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
  }

  #search {
    margin: 0;
    top: 10px;
    position: absolute;
    width: 90%;
    vertical-align: middle;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(255, 0, 0, 0.308);
  }

#flink {
  width: 98%;
  resize: horizontal;
  vertical-align: middle;
  text-align: center;
}

  #textH1 {
    margin: 0;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    width: 75%;
    height: 50%;
    top: 40%;
    transform: translateY(-50%);
    color: white;
    font-size: x-large;
    font-weight: bold;
    font-style: normal;
    line-height: 2;
  }

  #textP {
    margin: 0;
    position: absolute;
    vertical-align: middle;
    text-align: justify;
    width: 75%; 
    height: 50%;
    top: 70%;
    transform: translateY(-50%);
    color: white;
    font-size: large;
    font-weight: normal;
    font-style: italic;
    line-height: 3;
  }